<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{#if title}}{{title}} — {{/if}}Weimarnetz e.V.</title>
	  {{> _head.html }}
  </head>

  <body {{#if body.id}}id="{{body.id}}" {{/if}}{{#if body.onload}}onload="{{{body.onload}}}" {{/if}}{{#if body.onresize}}onresize="{{{body.onresize}}}"{{/if}}>
    
	  {{> navbar.html }}
    
    <div class="container">

      {{#markdown}}
        {{> body }}
      {{/markdown}}
    
      {{#if iframe.url }}
        {{> iframe.html }}
      {{/if}}
  
  {{> footer.html }}
  
    </div> <!-- ende inhalt /container -->
	
    {{> _foot.html }}
	
  </body>
</html>
